body {
  font-family: system-ui, sans-serif;
  padding: 10px;
  width: 360px;
  background: #f9f9f9;
}

.header {
  display: flex;
  gap: 8px;
  margin-bottom: 12px;
}

h2 {
  cursor: pointer;
  margin: 12px 0 4px;
  padding: 4px;
  background-color: #e0e0e0;
  border-radius: 6px;
  font-size: 1rem;
}

ul {
  /* list-style: disc inside; */
  list-style: none;;
  padding-left: 14px;
  margin-bottom: 8px;
}

li {
  margin: 4px 0;
}

a {
  color: #007acc;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.collapsed + ul {
  display: none;
} 